{% extends "base.html" %}
{% block title %}Edit player{% endblock title %}
{% block header %}Редактирование игрока{% endblock header %}
{% block content %}
<form method="post" class="form-group">
    {% csrf_token %}
    <table>
        {{ player_form }}
    </table>
    <input type="submit" value="Сохранить" class="btn btn-success btn-lg">
</form>
{% endblock content %}
{% block footer %}
    <p>
        <a href="/home/">На главную</a>
        <a href="/home/about/">Информация</a>
        <a href="/home/contacts/">Контакты</a>
    </p>
{% endblock footer %}