{% extends "base.html" %}
{% block title %}Start game{% endblock title %}
{% block header %}Начало игры{% endblock header %}
{% block content %}
<form method="post" action="/game/create_players/" class="form-group">
    {% csrf_token %}
        <p>
            {{ game_form.name }}
            <input type="submit" value="Добавить">
        </p>
</form>
<form method="post" action="/game/process/">
    {% csrf_token %}
    <input type="submit" value="Старт" class="btn btn-success btn-lg">
</form><br>
{% if players.count > 0 %}
    <table class="table table-striped table-sm">
        <thead class="thead-dark"><th>Id</th><th>Имя</th><th>Очки</th><th></th></thead>
        {% for player in players %}
        <tr>
            <td>{{ player.id }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.scores }}</td>
            <td><a href="/game/edit/{{player.id}}">Изменить</a> | <a href="/game/delete/{{player.id}}">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock content %}
{% block footer %}
<hr>
    <p>
        <a href="/home/">На главную</a>
        <a href="/home/about/">Информация</a>
        <a href="/home/contacts/">Контакты</a>
    </p>
{% endblock footer %}